# Auto detect text files and perform LF normalization
* text=auto

# Android 源码和配置强制使用 LF
*.kt text eol=lf
*.kts text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
gradlew text eol=lf
*.bat text eol=crlf
